* {
    margin: 0;
    padding:0;
    outline:none;
    box-sizing: border-box;
    text-dectoration: none;
    list-style-type: none;
    font-family:'Courier New', Courier, monospace
    font-weight: 400;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}