* {
    margin: 0;
    padding:0;
    outline:none;
    box-sizing: border-box;
    text-dectoration: none;
    list-style-type: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-botom: 15rem;
    border-bottom: 0.3rem solid#333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

/* End of Reset and Common Styles */

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background: 
}